
<div id="analyzeThis">
<h1><%= project.get('name') %></h1>
  <div class="master-controls"> 
    <h2>master</h2>
    <canvas class="master-volume volume" width="20" height="252"></canvas>
    <button id="mute-monitor" class="btn btn-small btn-danger">monitor</button>
  </div>
  <div id="analyzer-div">
  <canvas id="analyzer" width="786" height="300"></canvas>
  
  <div id="master-controls">
    <button class="btn btn-danger" id="stop">stop</button>
    <button class="btn btn-default" id="rewind">&lt;&lt;</button>
    <button class="btn btn-success play">play</button>
    <button class="btn btn-default" id="fast-forward">&gt;&gt;</button>
  </div>
  <div id="timer-div"><h3 id="timer">00:00.00</h3></div>
  </div>
</div>

<div id="mixer">
  <div><button id="add-track" class="btn btn-primary" data-toggle="modal" data-target="#add-track-modal">Add Track</button></div>
</div>

<div class="modal fade" id="add-track-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">

        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Add Track</h4>

      </div>
      <div class="modal-body">
        <form id="add-track-form">
          <input type="hidden" name="track[project_id]" value="<%= Collaborave.currentProject.id %>">
          <label for="track-name">Name</label>
          <input type="text" id="track-name" name="track[name]">
          <p>Name your new track, then click "add region" to upload a file to it, or click "record" and then "play" to record from your own microphone or audio interface.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" data-dismiss="modal" class="btn btn-primary" id="add-track-button">Add Track</button>
        </form>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->  


