<% provide(:title, 'About') %>
	<h1>About Collaborave</h1>
	<p>Collaborave is a web app for music collaboration built on the latest web audio api. It gives you the ability to upload tracks and create mixes of your music to share with friends around the world. I realize that that it is missing a lot of important features: ability to make projects private, select collaborators, record and edit tracks, easy sharing to social media—not to mention a whole host of little bugs that need to be worked out. I'll be working on these over the coming months. Until then, feel free to use it as is.</p>
	