<% provide(:title, 'Help') %>
	<h1>Contact</h1>
	<p>I am too busy to take complaints for the next couple months. I realise this is missing all kinds of features. You'll have to live with it until I am done at the <a href="http://appacademy.io">App Academy</a> in February.</p>
	