<% provide(:title, 'Help') %>
<div class="content-container">
	<h1>Help</h1>
	<p>Sign up to have access to projects. Once signed in, you can view other users' projects, make your own versions, or mixes, and create your own projects and upload tracks.</p>
	</div>