<% provide(:title, 'All Collaboravers') %>
<div class="content-container">
<h1>All Collaboravers</h1>

<%= will_paginate %>

<ul class="users">
  <%= render @users %>
</ul>

<%= will_paginate %>
</div>