<div class="track">
  <div class="controls"> 
    <h2><%= track.get('name') %></h2>
    <canvas class="volume" width="20" height="130"></canvas>
  </div>
  <div class="wavforms" style="width:817px; height:198px"></div>
</div>
