<div class="track">
  <div class="controls"> 
    <h2><%= track.get('name') %></h2>
    <canvas class="volume" width="20" height="130"></canvas>
    <canvas class="knob highs" data-name="highs" data-settings="{gain: {value: value/2}" width="60" height="20"></canvas>
    <canvas class="knob mids" data-name="mids" data-settings="{gain: {value: value/2}" width="60" height="20"></canvas>
    <canvas class="knob lows" data-name="lows" data-settings="{gain: {value: value/2}" width="60" height="20"></canvas>
  </div>
  <div class="wavforms" style="width:817px; height:198px"></div>
</div>
