<div class="track">
  <div class="controls"> 
    <h2><%= track.get('name') %></h2>
    <canvas class="volume" width="20" height="152"></canvas>
    <canvas class="knob highs" data-name="highs" width="60" height="20"></canvas>
    <canvas class="knob mids" data-name="mids" width="60" height="20"></canvas>
    <canvas class="knob lows" data-name="lows" width="60" height="20"></canvas>
    <canvas class="knob pan" data-name="lows" width="60" height="20"></canvas>
  </div>
  <div class="wavforms" style=" position: relative; width:817px; height:198px">
  	<div class="track-buttons">
	  	<button class="mute btn btn-small btn-default">mute</button>
	    <button class="solo btn btn-small btn-default">solo</button>
      <button class="add-region btn btn-small btn-primary" data-toggle="modal" data-target="#myModal">
        add region
      </button>
      
    </div>
  </div>
</div>
