<li>
  <span class="content"><%= link_to project.name, "/#projects/#{project.id}" %></span>
  <span class="timestamp">
    <% if current_user == project.author %>
    <%= button_to "Delete",  project, method: :delete, class: "btn btn-mini btn-danger", confirm: "Are you sure that you wish to delete #{project.name}?" %>
    Created <%= time_ago_in_words(project.created_at) %> ago.
    <% end %>
  </span>
</li>
