/* board css */
.track {
  margin:10px;
  border: 1px solid #ccc;
  height: 200px;
}

.controls {
  float: left;
  border-right: 1px solid #ccc;
  height:100%;
  width: 100px;
}

.controls h2 {
  margin:10px;
}

.knob {
  float:left;
  margin: 5px;
  margin-bottom: 19px;
}

#loading {
  clear:both;
}

.trackMeter{
  float:left;
}

#analyzeThis{
  margin:10px;
  padding:10px;
  border: 1px solid #ccc;
  background: rgba(255,255,255,.8);
}

#analyzer {
  width: 786px;
  margin: 2px 10px 10px 0px;
}

#master {
  width:131px;
  margin-right:100%;
}

.master-controls {
  float: left;
  border: 1px solid #ccc;
  height:300px;
  width: 100px;
}

#mixer {

}

.track-buttons {
  position: absolute;
  top: 5px;
  left: 5px;
}

.mute {
  
}

.solo {

}

#track_path {
  width:180px;
}

#record.recording { 
  background: red;
  background: -webkit-radial-gradient(center, ellipse cover, #ff0000 0%, #fff 75%, #fff 100%, #fff 100%); }

.volume {
  margin:5px;
  float: left;
}
.wavforms {
  float: left;
}   